# Introducción a Python

Este es un primer notebook para hacer una introducción al lenguaje *Python*
El tutorial esta basado en la página [W3Schools](https://www.w3schools.com/python/default.asp)

In [5]:
# Así se hace un comentario en Python
print("Hola Web Social")

Hola Web Social

In [6]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [7]:
#Asignación de múltiples variables
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
#Números aleatorios 
import random
aleatorio = random.randrange(1,10)
print (aleatorio)

1

## Trabajando con cadenas de texto

In [11]:
#Crear una cadena de texto con múltiples líneas
a = """Esta es una cadena de texto
de mútilples líneas."""
print(a)

Esta es una cadena de texto
de mútilples líneas.

In [14]:
#Las cadenas de texto son arreglos
a= "Hello world"
print (a[1])

e

In [15]:
#Puedo hacer un ciclo que recorra el arreglo
for x in "Web Social":
    print (x) #Hay que tener cuidado con la identación

W
e
b

S
o
c
i
a
l

In [16]:
#La longitud de una cadena de texto con el método Len
print(len(a))

11

In [17]:
#Verificar si un texto esta dentro de una cadena de texto
cadena = "Chi trova un amigo trova un tesoro"
validar = "trova" in cadena
print(validar)

True

In [18]:
validar2 = "amico" in cadena
print(validar2)

False

In [20]:
# Verificar si un texto no estpa dentro de una cadena de texto
validar3 = "web" not in cadena
print(validar3)

True

In [23]:
#Dividir o extraer fragmentos de una cadena de texto
b = "Hola_Mundo"
print(b[2:5]) #Imprime desde el caracter 2 pero se excluye el 5
c = "Cristhian"
print(c[2:5]) #Se incluye el 2 pero se excluye el 5

la_
ist

In [24]:
# desde el inicio
print(c[0:5])
print (c[:5])

Crist
Crist

In [25]:
# hasta el final 
print(c[2:])

isthian

In [29]:
# Indexación negativa
print(c[-5:-2])

thi

In [30]:
print(c.upper())

CRISTHIAN

In [32]:
print(c.lower())

cristhian

In [33]:
#Remover espacios al inicio y al final de un texto
texto = " Este es un texto de ejemplo     "
print (texto)

 Este es un texto de ejemplo

In [35]:
print(texto.strip())

Este es un texto de ejemplo

In [36]:
# reemplazar textos dentro de una caden ade texto
a= "Hello world!"
print(a.replace("H","J"))

Jello world!

In [38]:
texto= "En la actualidad las casas están muy costosas. Prefiero las casas económicas"
print(texto.replace("casas","manzanas"))

En la actualidad las manzanas están muy costosas. Prefiero las manzanas económicas

In [40]:
#Dividir cadenas que esten separadas por un caracter 
a ="Carro, avión, barco, moto, bici"
print(a.split())

['Carro,', 'avión,', 'barco,', 'moto,', 'bici']

In [42]:
'''Imprimir texto y numeros no es posible en python, por lo cual se utiliza el 
método format() y se usan las llaves para indicar el número''' 
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [43]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [44]:
# Booleanos en python True or False
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [46]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [48]:
print (bool("")) # las cadenas vacías son evaluadas como false
print (bool("Hola"))
print (bool(10))

False
True
True

## Colecciones de objetos en Python
Existen 4 tipos principales de colecciones de objetos en Python:
- listas: *list*
- tuplas: *tuple*
- diccionarios: *dict*
- conjuntos: *set*

### Listas
Conjunto de items **ordenados, modificables y que admiten valores duplicados**

Los items están indexados empezando por el [0], luego el [1], etc.

In [49]:
lista_frutas = ["banano", "papaya", "maracuyá", "banano", "fresa"]
print(lista_frutas)

['banano', 'papaya', 'maracuyá', 'banano', 'fresa']

In [50]:
# Ordenado es que tiene indice
print (lista_frutas[0])

banano

In [51]:
# modificable
lista_frutas[2] = "naranja"
print(lista_frutas)

['banano', 'papaya', 'naranja', 'banano', 'fresa']

In [52]:
#conocer el tamaño de una lista
print(len(lista_frutas))

5

In [53]:
# una lista admite combinaciones de tipos de datos
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [54]:
print(type(list1))

<class 'list'>

In [55]:
print(type(list1[2]))

<class 'bool'>

In [56]:
# Agregar o adicionar items a una lista
# con append
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [57]:
# Con insert en el indice que indiquemos
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [58]:
 # Agregar items de otra lista
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [59]:
# Remover un item específico
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [60]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

### Tuplas
Las tuplas son colecciones de items **ordenadas, admiten valores duplicados pero no modificables**

In [61]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [62]:
print(type(thistuple))

<class 'tuple'>

### Conjuntos Set
Son colecciones de items desordenados, admiten valores duplicados pero no modificables

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
#Como los conjuntos no tienen items, se usa un for para recorrerlo
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [3]:
#Agretar items al conjunto
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

In [4]:
#podemos agregar items con update
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'pineapple', 'mango', 'cherry', 'apple'}

### Diccionarios
Son colecciones de items organizados a manera de clave-valor, son ordenados, modificables pero no admiten duplicados, es decir, cada clave debe ser única

In [5]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [10]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [11]:
#Diccionarios anidados
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [13]:
# Imprimir las claves del diccionario
print(myfamily.keys())

dict_keys(['child1', 'child2', 'child3'])

In [14]:
print(myfamily["child1"].keys())

dict_keys(['name', 'year'])

### Condicionales

In [15]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Ciclos

In [16]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [17]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [18]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [20]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [21]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

### FUNCIONES
Las funciones en Python empuezan con la palabra def

In [24]:
#Crear una función
def saludar():
  print("Holis")

saludar()

Holis

In [29]:
#Pasar argumentos a una función
def saludar(nombre):
    print("Hola "+ nombre)
    
saludar("Cristhian")

Hola Cristhian

In [30]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [31]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

### Lambda
Son funciones anónimas pequeñas

In [32]:
x = lambda a : a + 10
print(x(5))

15

In [33]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [34]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [36]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

## Módulos importantes de Python

### NumPy (NumericalPython)
Es una librería de Python útil para trabajar con arreglos

Python no tiene arreglos y utiliza las listas para este propósito, no obstante las listas son lentas, por eso NumPy define los "ndarray" que son considerados hasta 50 veces más rapidos de las listas

In [41]:
#Para instalar NumPy 
!python -m pip install numpy

Requirement already satisfied: numpy in c:\users\lenovo\anaconda3\lib\site-packages (1.21.5)

In [46]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)

[1 2 3 4 5]

### Pandas 
Es una libreria de Python utilizada para analizar datos

In [47]:
!Python -m pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [48]:
import pandas as pd

In [49]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [50]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [51]:
#Crear etiquetas
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64